* {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: azure;
}

.header .title {
  margin: auto 0;
}

.header .title-small {
  font-size: small;
  font-weight: normal;
}

.header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.day {
  position: relative;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid azure;
}

.day .day-background {
  height: 100%;
}

.day .checkmark {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: crimson;
}

.day .checkmark:focus {
  outline: none;
  background-color: blueviolet;
}

.tooltip {
  display: none;
  background: wheat;
  padding: 4px;
  border-radius: 0 4px 4px 4px;
  position: relative;
  z-index: 1;
  width: 100px;
  text-align: center;
  top: calc(100% + 6px);
  left: 2px;
  box-shadow: 1px 1px 5px 0px grey;
}

.tooltip::before {
  content: '';
  border-bottom: 6px solid wheat;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0px;
  border-right: 8px solid transparent;
  width: 0px;
}

.day .checkmark:focus > .tooltip {
  display: block;
}

.tooltip.reverse {
  left: calc(2px - 100px);
  border-radius: 4px 0 4px 4px;
}

.tooltip.reverse::before {
  border-left: 8px solid transparent;
  border-right: none;
  left: calc(100% - 8px);
}

.actions {
  text-align: center;
  padding: 25px;
}

.preloader {
  height: 300px;
  background: no-repeat bottom/cover url(https://i.gifer.com/MgFG.gif);
}

.centered {
  text-align: center;
}

/* Date Chart */

.date-chart {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  align-items: flex-end;
}

.date-chart__bar {
  width: 30px;
  min-width: 30px;
}

.date-chart__bar--bar {
  background-color: blue;
  border: 1px solid azure;
}

.date-chart__bar--title {
  font-size: small;
  text-align: center;
}

/* TODO: modify */
.date-chart__stub {
  /* width: 30px;
  min-width: 30px;
  border: 1px solid grey; */
}
